<h1>all devices</h1
  <table class="table table-bordered">
    <tr>
      <b>ID-</b>
      <b>Device Name---</b>
      <b>Device Adress----</b>
      <b>Company Name</b>
    </tr>
<br>
<% @devices.each do |device| %>
<b><%= "#{device.id} " %></b>

<%= device.name %>
<%= device.address %>
<%= device.company.name %>
</table>


<%= link_to "Show", device_path(device) %>
<%= link_to "Edit", edit_device_path(device.id) %>
<%= link_to "Delete", device_path(device), method: :delete ,
data: { confirm: 'are you sure?' }%>
<br>
<% end %>

<br>
<br>
<%= link_to 'New Device',new_device_path %>
